.Heading__sub-title {
  color: #2370c8;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 20px;
}
.Heading__main-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  color: #262a4e;
  font-style: normal;
}
.Heading {
  display: flex;
  flex-direction: column;
}
.Heading--center {
  align-items: center;
  justify-content: center;
}
