.ServicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.ServicesList-item {
  padding-bottom: 90px;
  text-align: center;
  background-color: rgb(229, 243, 254);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(207, 234, 255);
}
